<div class="toc-wrapper">

  {{ if (eq $.Parent.Title "projects") }}

  {{ range .Site.Sections }}

  <div class="project-group">

    <div class="header">
      <div class="title">{{.Title}}</div>
      <div class="leader"></div>
      <!-- <div class="dates">{{.Params.duration}}</div> -->
    </div>

    <div class="desc three-grid">
      <div class="two-col"> {{.Content}} </div>
      <div class="one-col"></div>
    </div>


    <div class="projects three-grid">
      {{ range .Pages }}
      <div class="one-col">
        <p> {{ .Title }} </p>
      </div>
      {{ end }}
    </div>

  </div>

  {{ end }}
  {{ end }}

</div>