@font-face {
	font-family: "Maria";
	src: url("../static/fonts/maria.eot");
	src: url("../static/fonts/maria.eot?#iefix") format("embedded-opentype"),
			 url("../static/fonts/maria.woff2") format("woff2"),
			 url("../static/fonts/maria.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}