// Basics
body {
  font-family: "Maria", sans-serif;
	font-size: 24px;
	line-height: 1.4;
  max-width: 1200px;
  margin: auto;
  padding: 10px 20px;
  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 5px 0;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  margin: 5px 0;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
  margin: 5px 0;
}

// Grid
.three-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	padding: 0 40px;
  .one-col {
    grid-column: span 1;
    text-align: center;
    width: 100%;
	}
	.two-col {
		grid-column: span 2;
  }
  .three-col {
		grid-column: span 3;
	}
}

// Site-nav
.nav {
  position: fixed;
  width: 100%;
  max-width: 1200px;
}

.name {
  text-transform: uppercase;
  a:hover {
    text-decoration: none;
  }
}

.spacer {
  width: 100%;
  height: 80px;
}

// Site table of contents
.project-group {
	margin-bottom: 40px;
}

.thumbnail {
    
    img {
      width: 100%;
    }
}

.project-group > .header{
  width: 100%;
  display: flex;
  font-size: 32px;
  &:hover {
    cursor: pointer;
  }
  .title,
  .dates {
    flex: 1 0 auto;
  }
  .leader {
		flex: 0 1 auto;
    &::before {
      display: inline-block;
      height: 1em;
      overflow: hidden;
      padding: 0 10px;
      text-overflow: clip;
      content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
    }
  }
}



// Slideshow

.slideshow {
  h1 {
    text-align: center;
    position: fixed;
    max-width: 1200px;
    width: 100%;
  }
}

// Slideshow

.slideshow {
  h1 {
    text-align: center;
    position: fixed;
    max-width: 1200px;
    width: 100%;
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  z-index: 10;
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  .prev {
    height: 100vh;
    width: 50vw;
    cursor: w-resize;
  }
  .next{
    height: 100vh;
    width: 50vw;
    cursor: e-resize;
  }
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: calc(100vh - 80px);
  width: calc(100vw - 80px);
  .slide {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    &.show {
      display: flex;
    }
    img {
      height: 100%;
      margin: 10px;
      &.sm {
        height: 60%;
        margin: 40px;
      }
    }
  }
}



// Site footer {
footer div {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}