{{ partial "head.html" . }}

<div class="container slideshow three-grid">
  <div class="one-col">
    <h1><a href="/">Back</a></h1>
  </div>
  <div class="one-col">
    <h1>{{.Title}}</h1>
  </div>
  <div class="one-col">
    <h1 id="indicator"></h1>
    </div>

  <div class="content">

    <div class="controls">
      <div class="prev"></div>
      <div class="next"></div>
    </div>

    <div class="slider">
      {{ range .Params.gallery }}
      <div class="slide">
        <img src="{{.}}">
      </div>
      {{ end }}
    </div>
  </div>

</div>

{{ partial "foot.html" . }}