<div class="toc-wrapper">

  {{ range where .Pages "Section" "popups" }}

  <div class="project-group">

    <div class="header">
      <div class="title">{{ .Params.address }}</div>
      <div class="leader"></div>
      <div class="dates">{{ .Params.duration }}</div>
    </div>

    <div class="project-desc three-grid">
      <div class="two-col"> {{ .Content }} </div>
      <div class="one-col"></div>
    </div>


    

  </div>



</div>

{{ end }}

<div class="project-grid three-grid">

    {{ range where .Pages "Section" "photoshoots" }} 
    
      <p> {{ .Title }} </p>
    
    {{ end }}

  </div>

</div>