<div class="toc-wrapper">

  {{ range (where .Site.Sections "Title" "_index").Reverse }}

  <div class="project-group">

    <div class="header">
      <div class="title">{{.Params.address}}</div>
      <div class="leader"></div>
      <div class="dates">{{.Params.duration}}</div>
    </div>

    <div class="desc three-grid">
      <div class="two-col"> {{.Content}} </div>
      <div class="one-col"></div>
    </div>


    <div class="projects three-grid">
      {{ range .Pages }}
      <div class="one-col">
        <a href="{{.Permalink}}">
          <div class="thumbnail">
            <img src="{{.Params.thumbnail}}" alt="thumbnail" />
          </div>
          <h3> {{ .Params.duration }} </h3>
          <h3> {{ .Title }} </h3>
        </a>
      </div>
      {{ end }}
    </div>

  </div>

  {{ end }}

</div>