{{ partial "head.html" . }}

<div class="container">
  <header class="three-grid nav">
    <div class="one-col">
      <h1 class="name"><a href="/">Café Forgot</a></h1>
    </div>

    <div class="one-col nav-links blur">
      <h1>
        <a href="/">Archive</a>, <a href="/designers">Designers</a>,
        <a href="https://shop.cafeforgot.com/">Shop</a>,
        <a href="/info">Info</a>
      </h1>
    </div>

    <div class="one-col">
      <span class="controller"></span>
      <span class="controller"></span>
    </div>
  </header>

  <div class="gallery">
    {{ range .Params.gallery }}
    <div class="gallery-image-wrapper">
      <img class="gallery-image" src="uploads{{.}}" />
    </div>
    {{ end }}
  </div>

  <div class="toc-wrapper blur">
    {{ range where site.RegularPages.ByDate.Reverse "Section" "archive" }}

    <div
      class="shop"
      data-event="{{ .Params.event}}"
      data-opensoon="{{ .Params.openingsoon }}"
      data-open="{{ .Params.open }}"
      data-tickets="{{ .Params.tickets }}"
      data-watchnow="{{ .Params.watchnow }}"
    >
      <a class="header">
        <div class="title">{{.Params.address}}</div>
        <div class="leader"></div>
        <div class="dates">{{.Params.duration}}</div>
      </a>

      <div class="toc-expander">
        <div class="three-grid">
          <div class="content three-col">
            <div class="controls">
              <div class="prev">
                <div class="icon"></div>
              </div>
              <div class="next">
                <div class="icon"></div>
              </div>
            </div>

            <div class="slider">
              {{ range .Params.shopslideshow }}
              <div class="slide">
                <img src="uploads{{.}}" />
              </div>
              {{ end }}
            </div>
          </div>
        </div>

        <div class="desc three-grid">
          <div class="two-col">{{.Content}}</div>
          <div class="one-col"></div>
        </div>

        {{ with .Params.video_embed }}
          <div class="three-grid">
            <div class="two-col">
              <iframe
              src="{{.}}"
              width="100%"
              height="520px"
              frameborder="0"
              allow="autoplay; fullscreen"
              allowfullscreen
            ></iframe>
            </div>
          </div>
        {{ end }}

      </div>
    </div>
    {{ end }}
  </div>

  {{ partial "site-footer.html" . }}
</div>

{{ partial "foot.html" . }}
