{{ partial "head.html" . }}



<div class="container">

  {{ partial "site-nav.html" . }}
  <div class="toc-wrapper">

      {{ range where .Pages.ByDate.Reverse "Section" "events" }}
  
      <div class="project-group">
  
        <a class="header">
          <div class="title">{{.Params.address}}</div>
          <div class="leader"></div>
          <div class="dates">{{.Params.duration}}</div>
        </a>
  
        <div class="expander">
          <div class="desc three-grid">
            <div class="two-col"> {{.Content}} </div>
            <div class="one-col"></div>
          </div>
  
          <div class="three-grid">
          <div class="content two-col">
  
              <div class="controls">
                <div class="prev"></div>
                <div class="next"></div>
              </div>
          
              <div class="slider">
                {{ range .Params.eventslideshow }}
                <div class="slide">
                  <img src="{{.}}">
                </div>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
      {{ end }}
  </div>

  </div>

  <!-- {{ .Content }} -->

  {{ partial "site-footer.html" . }}

</div>

{{ partial "foot.html" . }}